@media (max-width: 600px) {
    .home-container01, .home-left, .home-right {
        display: none;
    }
    .navbar-logo-title {
        margin: 0;
    }
    .home-hero1 {
        flex-direction: column;
    }
    .home-container03 {
        align-items: center;
    }
    .section-container.column{
        padding-top: 20px;
    }
    .home-cards-container {
        gap: 15px;
        /* grid-gap: 20px; */
    }
    .category-card-category-card {
        flex: 0 0 47%;
    }
    .category-card-category-card img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }
    .section-container {
        flex-direction: column;
    }
    .home-content{
        margin: 0 0 20px 0;
    }
    .home-left4{
        padding: 2em;
    }
   
    .section-container{
       padding-top: 40px;
    }
    .home-text30 {
        width: initial;
    }
    .home-image6 {
        width: 100%;
    }
    .blog-post-card-blog-post-card {
        max-width: initial;
    }
    .home-footer1 {
        flex-direction: column-reverse;
        padding-top:60px
    }
    .home-links-container {
        flex-direction: column;

    }
    .home-text55 {
        padding-bottom: 25px;
    }
}