@import'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css';

:root {
    --background:white ;
    --second-bg:#ADE2DF;
    --text-color:black ;
    --description-text:#3D504F;
    --text-btn-white:#FFF8F8;
}


body {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    background-color: var(--background);
}
a{
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2em 10em;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 2em; 
}
.nav-list li a{
    color: var(--text-color);
font-size: 1.25em;
}
.login{
    display: flex;
    align-items: center;
    gap: 2em;
}
.login a{
    background-color: transparent;
    /* background-color: var(--second-bg); */
    color: var(--text-color);
    padding: 0.5em 1em;
    border-radius: 5px;
}
.login a:hover{
    background-color: var(--second-bg);
    font-weight: 700;

}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--second-bg);
    padding: 8em 3em;
}
.hero h1{
    font-size: 4.8em;
}
.hero p{
    font-size: 1.5em;
    padding-bottom: 2.3em;
}
.hero-btn{
    display: flex;
    gap: 1.5em;
}
.hero-btn a {
    color: var(--text-btn-white);
    background-color: black;
    padding: 1em 2em;
    border-radius: 5px; 
}
.hero-btn i{
    padding-right: 0.2em;
}