* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;

}

body>* {
    background-color: aqua;
    border-radius: 0.5em;
    padding: 1em;

}

header,
footer {
    flex: 1 1 100%;
}

aside {
    flex: 1 1 30%;
}

main {
    flex: 1 1 60%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;

}

nav li {
    display: block;
}

nav a {
    display: block;
    padding: 1em 1.5em;
    /* padding-left: 7em; */
    text-decoration: none;
}

ul {
    padding-left: 2em;
}

aside ul li a {
    text-decoration: none;
}

aside ul li {
    list-style: none;

}

aside ul li {
    padding-bottom: 0.3em;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    header,
    nav ul {
        display: block;
    }
    nav ul li a {
        padding-left: 5px;
    }
    nav ul {
        margin-left: 0;
        padding-left: 0;
    }

}