:root {
    --navbar: #E1E0E3;
    --background-site: white;
    --h2-text: #37282B;
    --orange-sponsor: #B0825C;
    --orange-sponsor-p: #A68D7A;
    --footer-background: #171720;
    --footer-text-color: #86908F;
    --footer-border:#313139;
    
}

body {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;

}

a {
    text-decoration: none;
}

.site-section.banner {
    background-color: var(--footer-background);

}

/* hero */
.container {
    max-width: 1440px;
    /* background-color: var(--footer-background); */
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.banner h2 {
    max-width: 39%;
    font-size: 3em;
    padding: 0.6em 0;
    font-weight: normal;
}

.banner p {
    max-width: 39%;
    font-size: 1.1em;
    letter-spacing: 1.2px;
    padding-bottom: 14em;
}

/* ============================= */

/* header */
.site-section.site-header {
    display: flex;
    justify-content: space-between;
    padding: 2em 4em;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    background-color: var(--footer-background);

}

.site-nav {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.site-nav a {
    color: var(--navbar);
}

/* ===================================== */

/* business */
.site-section.business {
    border-bottom: 2px solid #CCCCCC;
}

.business.container {
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: row;
    /* justify-content:center; */
    /* align-items: center; */
    gap: 2em;
    background-color: white;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
}

.left h2 {
    font-size: 2.5em;
    color: var(--h2-text);
    margin-bottom: 0.7em;
    font-weight: normal;
}

.left p {
    color: var(--orange-sponsor-p);
    max-width: 70ch;
    padding-bottom: 2em;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1 1 45%;
}

.right h2 {
    font-weight: normal;
    font-size: 3.5em;
    color: var(--h2-text);
    margin-bottom: 0.7em;
}

.right p {
    color: var(--orange-sponsor-p);
    max-width: 70ch;
    padding-bottom: 2em;
}

.btn {
    border: 2px solid var(--orange-sponsor);
    background-color: transparent;
    color: var(--orange-sponsor);
    max-width: 23%;
    text-align: center;
    padding: 0.4em 0;
    font-weight: bold;
}
/* sponsors */

.sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.sponsor h2{
    color: var(--orange-sponsor);
    font-size: 3.5em;
    font-weight: normal;
    margin-top: 1em;
}
.sponsor p{
    color: var(--orange-sponsor-p);
    text-align: center;
    padding-top: 2em;
    font-size: 1.2em;

}
.sponsor-media{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    gap: 5em;
}

.sponsor-media img {
    width: 15%;
    display: block;
    padding: 1em;
    /* border: 1px solid #DDDDDD; */
    border-radius: 50%;
    background-color: #DDDDDD;
    height: auto;
    
    margin-bottom: 4em;

}

/* partners */
.partner{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.partner h2{
    color: var(--orange-sponsor);
    font-size: 3.5em;
    font-weight: normal;
    margin-top: 1em;
}
.partner p{
    color: var(--orange-sponsor-p);
    text-align: center;
    padding-top: 2em;
    font-size: 1.2em;
    margin-bottom: 4em;

}
/* footer */
.before-footer{
color: var(--footer-text-color);
background-color: var(--footer-background);
}

.footer-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2em 0;
    gap: 6em;
}
.section-c h4{
    padding-bottom: 2em;
}

.list-footer li>a{
    color: var(--footer-text-color);
    text-transform: uppercase;
    line-height: 2em;
}
.site-footer{
color: var(--footer-text-color);
background-color: var(--footer-background);
border-top: 2px solid var(--footer-border);

}
footer{
color: var(--footer-text-color);
padding: 1em 0;
font-size: 1.2em;
}