* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Fake image, just for this example */
html {
  font: 16px/1.5  Arial, Helvetica, sans-serif;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

body {
margin: 0;

}

/* TODO Reference the grid area */
/* TODO Reference the grid area */
/* TODO Reference the grid area */
/* TODO Reference the grid area */
/* TODO Reference the grid area */

body {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1em; */
}

header { 
text-align: center;
padding: 60px;
margin: 0;
flex: 1 1 100%;
background-color: #1abc9c;
}

nav {
flex: 1 1 100%;
background-color: black;
}

nav a {
text-decoration: none;
padding-left: 2em;
color: white;
text-align: left;

}

aside {
flex: 1 1 30%;
background-color: #f1f1f1;
padding: 1em;
}

main {
  flex: 1 1 60%;
  padding: 1em;
}

footer{
  /* margin-top: 2em; */
flex-basis:  100%;
padding: 1em;
background-color: #ddd;
}
footer h2 {
  text-align: center;
}


@media screen and (max-width: 700px) {
  body {
    display: block;


    flex-direction: column;
}
nav a{
  display: block;
  text-align: center;
  }
  /* aside {
    flex: none;
  } */
  /* main {
    flex: 1 0 auto;
  } */
  /* nav{
    flex: none;
    display: block;
    flex-direction: column;
  } */
 }