@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font: 14px/1.5 Poppins, sans-serif;
}
body {
    padding: 2em;

}
header {
    text-align: center;
    padding: 1em;
}
img {
display: block;
width: 100%;
height: auto;
}
header span {
    color: #3977C1;
}
.container {
    max-width: 100em;
    margin: 0 auto;
}
.section-main {
    display: flex;
    gap: 2em;

}
.section-main article {
    flex: 1 1 30%;
    background-color: #819DAF;
}
.service {
    padding: 2em;
}
.service p{
    padding: 0.5em 0 1.5em 0;
}
.section-main article,
.section-main article .media img {
border-radius: 1em;
}
.section-main article a{
    display: inline-block;
    text-decoration: none;
    background-color: #327DC4;
    color: white;
    padding: 0.3em 1em;
    border-radius: 1em;
    border: 1px solid #2C67C4;
    outline: 1px solid white;
    
}