.main-nav {
    padding: 0;
}

.main-nav li{
    list-style: none outside;
}

.main-nav >ul > li {
    display: inline-block;
position: relative;
    margin: 0 0.2em;

}

.main-nav a {
    display: block;
    padding: 0.5em 0.8em;
    text-decoration: none;
    color: orangered;
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 0.3em;
}
.main-nav a:hover{
    background-color: #369;
    color: white;
}
.main-nav ul ul{
    display: none;
}
.main-nav li:hover > ul{
display: block;
position: absolute;
top: 100%; left: 0;
}
.main-nav ul ul li:hover > ul {
    left: initial;
    top: 0;
    right: 100%;
}