* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,ul,li{
    display: flex;
}
body {
    background-color: #eee;
    padding: 5em;
    /* align-items: center; */
    justify-content: center;
    }
ul {
    gap: 2em;
    flex-wrap: wrap;
   
}
li{
    flex: 1 1 200px;
    border: 6px solid black;
    align-items: center;
    justify-content: center;
    list-style: none;
    /* padding: 2em 1em; */
    box-shadow: 
    0 0 15px 0.3em #00000065,
    0 0 15px 0.3em #00000065 inset
}
img {
    display: block;
    padding: 4em 1em;

}
.gallery{
    display: flex;
    max-width: 70em;
}