@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css";

body {
    font-family: "Inter", sans-serif;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
h3{
    font-size: 2em;
}
.main{
    background-image: url('/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container {
    max-width: 1650;
    margin: 0 auto;
    padding:4em 2em;
    display: flex;
    gap: 2em;
    align-items: unset;
    justify-content: center;
}
.cards{
    display: flex;
    gap: 2em;
    flex-direction: column;
    flex: 0 0 60%;
}
.cards i{
    font-size: 4.4em;
}
.card{
    display: flex;
    justify-content: space-between;
    /* gap: 4em; */
    background-color: white;
    border: 1px solid black;
    padding: 4em 2em;

}
.person {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 0 0 65%;
}
.media{
    flex: 0 0 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.media img{
    width: 200px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.aside{
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    padding: 4em 2em;

}
.desc{
 display: flex;
flex-direction: column;
gap: 5em;
}
.media-desc{
    display: flex;
    align-items: start;
    gap: 1em;
    justify-content: flex-start;
    border-top: 2px solid black;
    padding-top:1em ;
    flex: 0 0 15%;
}
.media-desc img{
  
    width: 100px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}
.desc-3{
    display: flex;
    flex-direction: column;
}
.desc p {
    padding-bottom: 2em;
}
.desc i{
    font-size: 5.4em;
}